
.authActions__authToken {

  .countdown {
    margin: 1rem 0rem;
    font-size: 12px;
  }

  .resendToken {
    cursor: pointer;
    color: #2196F3;
    font-weight: bold;
    &:hover {
      color: rgb(138, 138, 194);
    }
  }

  .text {
    color: grey;
    width: 320px;
    padding: 0rem;
    margin: 1rem 0rem;
    text-align: center;
    line-height: 1.2rem;
  }
}
