

<p-dialog [(visible)]="display" [draggable]="false" [closable]="false"  [style]="{width: '35vw'}" >

  <section class="authOptions">
    <i class="pi pi-lock" style="font-size: 2rem"></i>
    <h2 class="authOptions__title">AUTENTICAÇÃO</h2>

    <button pButton pRipple type="button" icon="pi pi-undo" class="p-button-rounded" (click)="onCancelSelectAuthType()" *ngIf="authType.ngOtp || authType.googleAuth" ></button>

    <button pButton type="button" class="p-button-outlined" *ngIf="!authType.ngOtp && !authType.googleAuth" label="Token de Autenticação" badge="8" (click)="onSelectAuthType('ngOtp')"><i class="pi pi-key" style="font-size: 1.5rem"></i></button>

    <button  pButton pRipple   class="p-button-outlined p-button-secondary" type="button" *ngIf="!authType.ngOtp && !authType.googleAuth" label="Google Authenticator" badge="8" (click)="onSelectAuthType('googleAuth')"><i class="pi pi-google" style="font-size: 2rem"></i></button>
  </section>


<section class="authActions">

 <app-token-authentication *ngIf="authType.ngOtp" (otpEvent)="onOtpChange($event)" [displayInfo]="displayInfo" (countdownEvent)="onCountDown($event)" [displayResendToken]="displayResendToken"
  (requestAuthTokenEvent)="requestAuthToken()"
  [authType]="authType"
  [ngOtp]="ngOtp"
 ></app-token-authentication>


  <app-google-authentication *ngIf="authType.googleAuth && loginForm" [userForm]="loginForm" (QrCodeTokenEvent)="getQrCodeToken($event)"
   [QrCodeToken]="QrCodeToken"
  ></app-google-authentication>


</section>

</p-dialog>


