.authOptions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}



button i {
  padding: 0.5rem;
}

.authActions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    margin: 2rem 0rem;
    width: 100%;
  }


}




