.authOptions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}



button i {
  padding: 0.5rem;
}

.authActions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    margin: 2rem 0rem;
    width: 100%;
  }
  &__text {
    color: grey;
    width: 320px;
    padding: 0rem;
    margin: 1rem 0rem;
    text-align: center;
    line-height: 1.2rem;
  }
  .countdown {
    margin: 1rem 0rem;
    font-size: 12px;
  }

  .resendToken {
    cursor: pointer;
    color: #2196F3;
    font-weight: bold;
    &:hover {
      color: rgb(38, 38, 219);
    }
  }

  .p-dialog .p-dialog-content{
    overflow: hidden !important;
  }
}

